<div class="container-fluid">
    <div class="row">
        <div class="col-12 jumbotron">
            <i class="fas fa-hamburger"></i>
            <h1>Eat-Da-Burger</h1><i class="fas fa-hamburger"></i>
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-burger">
        <div class="col-12 col-lg-3 burger-box">
            <h2>Burgers Ready to Devour!</h2>

            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li>
                    {{burger_name}}
                    <button class="change-devoured" data-id="{{id}}" data-newdevour="{{devoured}}">
                        Devour
                    </button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>

        </div>

        <div class="col-12 col-lg-3 burger-box">
            <h2>Add the Burger of your choice!</h2>
            <form class="create-form">

                <div class="form-group">
                    <label for="bur">Type of Burger:</label>
                    <input type="text" id="bur" name="name">
                </div>

                <button type="submit">Add your Burger!</button>
            </form>

        </div>

        <div class="col-12 col-lg-3 burger-box">

            <h2>Burgers Devoured!</h2>

            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li>
                    {{burger_name}}
                    <button class="delete-burger" data-id="{{id}}">Throw in Trash</button>
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>